<div class="row">
    <div class="col-md-3">
        <%= link_to 'Back', posts_path, class: 'btn btn-secondary mb-3' %>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Editing post</h4>
                <%= render 'form', post: @post %>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="mb-3">
            <%= form_with(model: [@post, @element], html: { class: 'float-left mr-1'}) do |form| %>
                <%= form.hidden_field :element_type, value: 'paragraph' %>
                <%= form.submit "Add paragraph", class: 'btn btn-dark' %>
            <% end %>
            <%= form_with(model: [@post, @element]) do |form| %>
                <%= form.hidden_field :element_type, value: 'image' %>
                <%= form.submit "Add image", class: 'btn btn-dark' %>
            <% end %>
        </div>
        <div class="card">
            <div class="card-body pt-5">
                <% @post.elements.each do |element| %>
                    <% if element.persisted? %>
                        <% if element.paragraph? %>
                            <div class="mb-4 p-3 paragraph">
                                <div class="paragraph-content">
                                    <% if element.content.present? %>
                                        <%= element.content %>
                                    <% else %>
                                        Click to add content.
                                    <% end %>
                                </div>
                                <div class="paragraph-form d-none">
                                    <%= form_with(model: [@post, element]) do |form| %>
                                        <%= form.rich_text_area :content %> 
                                        <div class="mt-3 d-flex justify-content-between">
                                            <div>
                                                <%= form.submit "Save", class: 'btn btn-primary' %>
                                                <a href="#" class="cancel btn btn-secondary">Cancel</a>
                                            </div>
                                            <%= link_to 'Delete', post_element_path(@post, element), method: :delete, 
                                            class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% elsif element.image? %>
                            <div class="mb-4 p-3 image">
                                <% if element.image.present? %>
                                    <div>
                                        <%= image_tag(element.image) %>
                                    </div>
                                    <%= link_to 'Delete', post_element_path(@post, element), method: :delete, 
                                        class: 'btn btn-danger mt-2', data: { confirm: "Are you sure?" } %>
                                <% else %>
                                    <%= form_with(model: [@post, element]) do |form| %>
                                        <%= form.file_field :image %> 
                                        <div class="mt-3">
                                            <%= form.submit "Save", class: 'btn btn-primary' %>
                                            <a href="#" class="cancel btn btn-secondary">Cancel</a>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div> 
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

