<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-light readers <%= controller_name %> <%= action_name %>'>
    <div class="container">
      <div class="d-flex justify-content-between w-100">
        <div class="d-grid gap-3">
          <%= link_to "Home", "/" %>
          <% if author_signed_in? %>
            <%= link_to "My posts", "/posts" %>
            <%= link_to "Stats", "/stats" %>
          <% end %>
        </div>
        <% if author_signed_in? %>
          <%= link_to "Log out", destroy_author_session_path, method: :delete %>
        <% else %>
          <div class="d-grid gap-3">
            <%= link_to "Login", new_author_session_path %>
            <%= link_to "Sign up", new_author_registration_path %>
          </div>
        <% end %>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>